@use '../utils/variables' as *;

@mixin flex($justify: space-between, $align: center, $gap: 0, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin grid(
    $template-columns: auto,
    $template-row: auto,
    $gap: 0px,
    $property: null,
    $value: null
) {
    display: grid;
    grid-template-columns: $template-columns;
    grid-template-rows: $template-row;
    gap: $gap;
    #{$property}: $value;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin fix-position($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin base-card {
    width: 100%;
    height: 100%;
    min-height: inherit;
    background: no-repeat 50% 50% url(@/assets/images/Plus.png) $bgLightSurface;
    box-shadow: $shadow;
    border-radius: 24px;
}

$breakpoint-extra-small: 480px;
$breakpoint-small: 576px;
$breakpoint-med-small: 768px;
$breakpoint-med: 992px;
$breakpoint-med-large: 1280px;
$breakpoint-large: 1440px;
$breakpoint-extra-large: 2300px;

@mixin screen($size) {
    @if $size == 'extra-small' {
        @media screen and (max-width: $breakpoint-extra-small) {
            @content;
        }
    } @else if $size == 'small' {
        @media screen and (max-width: $breakpoint-small) {
            @content;
        }
    } @else if $size == 'med-small' {
        @media screen and (max-width: $breakpoint-med-small) {
            @content;
        }
    } @else if $size == 'med' {
        @media screen and (max-width: $breakpoint-med) {
            @content;
        }
    } @else if $size == 'med-large' {
        @media screen and (max-width: $breakpoint-med-large) {
            @content;
        }
    } @else if $size == 'large' {
        @media screen and (max-width: $breakpoint-large) {
            @content;
        }
    } @else if $size == 'extra-large' {
        @media screen and (min-width: 2300px) {
            @content;
        }
    }
}
