$primary100: #f4f7fc;
$primary200: #cee0fc;
$primary300: #a9cafd;
$primary400: #84b3fe;
$primary500: #5f9dfe;
$primary600: #2471eb;
$primary700: #1a66e1;
$primary800: #0f5cd7;
$primary900: #0451cd;
$primaryMain: #2f7bf5;

$secondary100: #fff3db;
$secondary200: #ffe16e;
$secondary300: #ffd000;
$secondary400: #ffbf00;
$secondary500: #ffb200;
$secondary600: #ffa400;
$secondary700: #ff9600;
$secondary800: #ff8900;
$secondary900: #ff7b00;
$secondaryMain: #ffbf00;

$tertiary100: #fff5ff;
$tertiary200: #efd1f4;
$tertiary300: #deace9;
$tertiary400: #ce87df;
$tertiary500: #be63d4;
$tertiary600: #ae3ec9;
$tertiary700: #9b29b6;
$tertiary800: #8715a3;
$tertiary900: #74008f;
$tertiaryMain: #9b29b6;

$warning100: #fff6ed;
$warning200: #fee6cf;
$warning300: #fcd6b2;
$warning400: #fbc594;
$warning500: #fab576;
$warning600: #f8a559;
$warning700: #f7953b;
$warning800: #f6851e;
$warning900: #e86e00;
$warningMain: #f7953b;

$error100: #fff2f2;
$error200: #fad5d5;
$error300: #f4b7b7;
$error400: #ec8385;
$error500: #e66063;
$error600: #e35053;
$error700: #dd2c2f;
$error800: #bd1f21;
$error900: #ac1c1e;
$errorMain: #bf0f0f;

$info100: #eff9ff;
$info200: #cdedff;
$info300: #afe2ff;
$info400: #92d8ff;
$info500: #75cdfe;
$info600: #58c2fe;
$info700: #3ab8fe;
$info800: #1dadfe;
$info900: #0195e9;
$infoMain: #1dadfe;

$success100: #e5f8ea;
$success200: #92e6a7;
$success300: #6ede8a;
$success400: #4ad66d;
$success500: #2dc653;
$success600: #25a244;
$success700: #208b3a;
$success800: #10711a;
$success900: #155d27;
$successMain: #25a244;
