$gray100: #f6f8ff;
$gray200: #dadce5;
$gray300: #bec1ca;
$gray400: #a2a5b0;
$gray500: #868a95;
$gray600: #6b6e7b;
$gray700: #5b5e69;
$gray800: #3d3e44;
$gray900: #2e2f32;
$grayMain: #868a95;

$txtLight_base1: #0e101c;
$txtLight_base2: #5a5a5a;
$txtLight_primary: #1a66e1;
$txtLight_secondery: #ff8900;
$txtLight_tertiary: #9b29b6;
$txtLight_active: #5a5a5a;
$txtLight_hover: #181b25;
$txtLight_disabled: #c6c6c6;
$txtLight_focus: #5f5f5f;
$txtLight_selected: #464646;
$txtLight_success: #2dc653;
$txtLight_danger: #991111;
$txtLight_warning: #ff9400;
$txtLight_info: #2d89e9;
$txtLight_divider: #676262;

$bgLightdefault: #fafafa;
$bgLightSurface: #ffffff;
$bgLightSelected: #048dff;

$bgDarkdefault: #535353;
$bgDarkSurface: #070d31;
$bgDarkSelected: #048dff;

$shadow: 0px 0px 4px rgba(0, 67, 101, 0.05);
