@font-face {
    font-family: 'iranyekan';
    font-weight: 400;
    src: url('@/assets/fonts/woff2/regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    font-weight: 600;
    src: url('@/assets/fonts/woff2/medium.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    font-weight: 700;
    src: url('@/assets/fonts/woff2/bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    font-weight: 900;
    src: url('@/assets/fonts/woff2/black.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

$font_h1: 900 48px/76px 'iranyekan';
$font_h2: 700 42px/64px 'iranyekan';
$font_h3: 700 32px/52px 'iranyekan';
$font_h4: 900 28px/44px 'iranyekan';
$font_h5: 600 20px/36px 'iranyekan';
$font_h6: 700 18px/32px 'iranyekan';

$font_subtitle1: 600 16px/28px 'iranyekan';
$font_subtitle2: 600 14px/28px 'iranyekan';

$font_body1: 400 16px/32px 'iranyekan';
$font_body2: 400 14px/28px 'iranyekan';

$font_button1: 600 16px/32px 'iranyekan';
$font_button2: 400 14px/32px 'iranyekan';

$font_caption: 400 12px/16px 'iranyekan';
$font_overline: 400 10px/12px 'iranyekan';
